body {
    font-family: "Inter", system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-color: lavender;
    padding: 0 20px;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 2em;
    gap: 40px;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.my-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.social-media ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

.social-media a {
    text-decoration: none;
    color: #0077b5;
    font-size: 1.2em;
}

.resume a button, .message-me button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
}

.message-me button:hover, .resume a button:hover {
    background-color: #45a049;
}
